<h1>Cinema Ironhack</h1>

<body>
  <div id="main-container">
    <img src="/images/cinema.jpg" alt="Express Cinema Logo" />
    <a href="/movies"> <button>Check the Movies</button> </a>
  </div>
</body>

</html>
