body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-container {
  text-align: center;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(68, 73, 77);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #2980b9;
}